@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

/* *{
    background: #222222;
} */


.darkbg{
    background-color: #222222;
    
}

.montezfont{
    font-family: 'Montez', cursive;
}

.outfitfont{
    font-family: 'Outfit', sans-serif;
}


/* STYLING FOR SIGNIN AND SIGNUP */

.loginbtn{
    background-color: #DCCA87;
    color: #222222;
    width: 100%;
    padding: 6px;
}

.primaryTextColor{
    color: #DCCA87;
}

.secondaryTextColor{
    color : #222222
}

.inputfield{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #DCCA87;
    color: white;
    
}

/* STYLING FOR ADMIN PAGE */
